body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.w-full.p-2.border.rounded {
    width: 100%;
    /* height: 30px; */
    padding: 10px;
    margin-top: 5px;
}

button.bg-green-600{
    background: #f00;
    padding: 10px 15px;
    margin-top: 15px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    width: auto;
}

@media only screen and (max-width: 600px) {
#root canvas{
 width: 98% !important;
 height: 400px !important;
 padding-right: 20px;
}
}
